[submodule "vendor/nostr-types"]
	path = vendor/nostr-types
	url = https://github.com/mikedilger/nostr-types
[submodule "vendor/nip44"]
	path = vendor/nip44
	url = https://github.com/mikedilger/nip44
